@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

div{
    padding:10px;
}

.divVerde{
    background-color: lightgreen;
}

.divAmarillo{
    background-color: lightgoldenrodyellow;
}

p{
    font-family: 'Akaya Kanadaka','Times New Roman';
}