@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro:wght@200&display=swap');

@font-face{
    font-family: 'Chocolate Covered Rain';
    src: url('fuente.ttf');
}

body{
    background-color: plum;
}

h1,p{
    font-family: 'Chocolate Covered Rain';
    color: white;
}

.color-pers{
    color: rgba(32, 104, 197, 0.493);
}

.boton{
    text-decoration: none;
    background-color: white;
    color: rgb(247, 207, 214);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.boton1{
    padding: 10px;
    width: 60px;
    background-color: white;
    color: blueviolet;
    font-size: xx-large;
    border-radius: 3px;
    border-radius: 5px;
    text-align: justify;
}

#codigo{
    font-family: 'Source code pro';
}

#josefina{
    font-family: 'Josefin sans';
}